.options {
    justify-self: flex-start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    &__searchButton {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }

    &__search-bar {
        display: flex;
        align-items: center;
        background-color: var(--sub1-bg-color);
        padding: 10px;
        border-radius: 5px;
        font-size: 1.5rem;
        width: 300px;
    }

    &__text-input {
        background-color: transparent;
        border: none;
        height: 100%;
        width: 100%;
        margin-left: 10px;
    }

    &__date-picker {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }

    &__date-input {
        margin-top: 1rem;
        background: var(--sub1-bg-color);
        border: none;
        border-radius: 1rem;
        font-size: 0.8rem;

        &::-webkit-datetime-edit-fields-wrapper {
            background: transparent;
            padding: 0.5rem;
            margin-left: auto;
        }

        &::-webkit-datetime-edit-text {
            color: white;
            padding: 0 0.3em;
        }

        &::-webkit-datetime-edit-month-field {
            color: white;
        }

        &::-webkit-datetime-edit-day-field {
            color: white;
        }

        &::-webkit-datetime-edit-year-field {
            color: white;
        }

        &::-webkit-calendar-picker-indicator {
            background-color: transparent;
            margin: 0px 5px 0px 5px;
            filter: invert(1);
        }
    }
}

.blog-posts {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 100vh;
    max-width: 90vw;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;

    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--sub1-bg-color);
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--sub3-bg-color);
    }
}