:root {
    --main-bg-color: #292929;
    --sub1-bg-color: #1F1F1F;
    --sub2-bg-color: #1D1D1D;
    --sub3-bg-color: #121212;
    --accessrioes-color: #BB86FC;
    --success-color: #00DAC6;

    --font-color: #E5E5E5;
}